<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <br>
        <input type="number" name="age" placeholder="Enter age">
        <br>
        <input type="text" name="email" placeholder="Enter email">
        <br>
        <input type="text" name="contact" placeholder="contact number">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>